body{ 
     font-style: italic; 
     font-family: 'Times New Roman', Times, serif;
     font-size: medium;
     text-align: left;
     
    }
    h1 {  
        color: #ebc000;
    }
button { 
    color: #ebc000;
 }
 h3 { text-align: center;
      color: #d8d8d8;
  }
  h2 { 
    color: #d8d8d8;
}

